{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}


{% block title %}Panier - DiY District{% endblock %}

{% block content %}
<div class="cartPage-container">
    {% if cart|length > 0 %}
    <h2>Votre panier</h2>
    <div class="cartPage-products-cards">
    {% set total = null %}
    {% for product in cart %}
        <div class="product-cart-card">
            <div class="product-cart-image">
                <a href="{{path('product', {slug: product.product.slug})}}">
                    <img src="/uploads/products/{{ product.product.illustration}}" alt="{{ product.product.name}}"/>
                </a>
            </div>
            <div class="product-cart-informations">
                <div class="top-container">
                    <h2 class="top-container__title">{{product.product.name}}</h2>
                    <p class="top-container__description">{{ product.product.description|length > 100 ? product.product.description|slice(0,100)|split(' ')|slice(0, -1)|join(' ')  ~ '...' : product.product.description}}</p>
                </div>
                <div class="bottom-container">
                    <div class="bottom-container__price">
                        <div class="price-per-unit">{{((product.product.price * product.quantity) / 100)|number_format(2, ',','.') }} € </div>
                        {% if product.quantity > 1 %}
                            <div class="total-price">(soit {{ product.quantity }} x  {{ (product.product.price / 100)|number_format(2, ',','.')}} €)</div>
                        {% endif %}
                    </div>
                    <div class="bottom-container__count">
                        <div class="switcher-value">
                            <a href="{{ path('decrease_from_cart', {'id': product.product.id })}}"><i class="fa-solid fa-minus"></i></a>
                            {{ product.quantity }}
                            <a href="{{ path('add_to_cart', {'id': product.product.id })}}"><i class="fa-solid fa-plus"></i></a>
                        </div>
                        <a class="cart-remove-product"href="{{ path('delete_from_cart', {'id': product.product.id })}}">
                            supprimer
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% set total = total + (product.product.price * product.quantity)%}
    {% endfor %}
    </div>
    <div class="btn-validateCart">
        <a href="{{path('order')}}">{{(total / 100)|number_format(2, ',','.') }} € - Procéder au paiement</a>
    </div>
    {% else %}
        <h2>Votre panier est actuellement vide</h2>
    {% endif %}

</div>

{% endblock %}
