{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block title %}Mes adresses - DiY District{% endblock %}

{% block content %}
<div class="account">
    <div class="account-title">
        <h2>Bienvenue dans votre espace adresses</h2>
        <div class="account-faq">
            <h3>N'oubliez pas de vérifier vos adresses si elles sont toujours valide au moment de passer votre commande</h3>
        </div>
    </div>
    <div class="container-links">
        <a href="{{ path('account')}}" class="account-link">Votre espace compte</a>
    </div>
    <div class="addresses">
        <h2>Vos adresses</h2>
        {% if app.user.addresses|length == 0 %}
            <p class="no-address">Vous n'avez pas encore d'adresse client veuillez en créer une</p>
            <a class="address-link-create" href="{{ path('account_address_add') }}">Créer une adresse</a>
        {% else %}
        
        <div class="addresses-cards-container">
            {% for address in app.user.addresses %}
            <div class="address-card">
                <div class="address-card__details">
                    <h2>{{address.name}}</h2>
                    <p>{{address.address}} {{address.postal}} {{address.city}} {{address.country}}</p>
                </div>
                <div class="delete-card">
                    <a href="{{path('account_address_edit', {'id' : address.id } )}}" class="btn">Modifier</a><a href="{{path('account_address_delete', {'id' : address.id})}}" class="btn">Supprimer</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{{ path('account_address_add') }}" class="add-address-link">Ajouter une adresse supplémentaire</a>
        {% endif %}
    </div>
</div>
{% endblock %}