{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block title %}Ajouter une adresse - DiY District{% endblock %}

{% block content %}
<div class="account">
    <div class="account-title">
        <h2>Espace modification d'adresse</h2>
        <div class="account-faq">
            <h3>Un problème pour effectuer un changement d'adresse ? </h3>
            <a href="{{ path('home')}}">nous contacter</a>
        </div>
    </div>
    <div class="container-links">
        <a href="{{ path('account')}}" class="account-link"><i class="fa-solid fa-user"></i> Votre espace compte</a>
    </div>
    <div class="address-form-container">
        {{ form_start(form, {'attr': {'class': 'add-address-form'}} ) }}

            <h2>Créer une adresse</h2>
            {{ form_widget(form.name) }}
            {{ form_widget(form.company) }}
            {{ form_widget(form.lastname) }}
            {{ form_widget(form.firstname) }}
            {{ form_widget(form.address) }}
            {{ form_widget(form.postal) }}
            {{ form_widget(form.city) }}
            {{ form_widget(form.country) }}
            {{ form_widget(form.phone) }}
            {# {% if notification %}
                <div class="alert">{{ notification }}</div>
            {% endif %} #}
            <div class="submit-address">
                {{ form_widget(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}