{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block title %}Mes adresses - DiY District{% endblock %}

{% block content %}
<div class="account">
    <div class="account-header">
        <a href="{{ path('home')}}" class="btn">Accueil</a>
    </div>
    <h1>Mon compte</h1>
    <div class="parent">
        <div class="child-left">
            <a href="{{ path('account_password')}}" class="btn">Commandes</a>
            <a href="{{ path('account_address')}}" class="btn">Adresses</a>
            <a href="{{ path('account_password')}}" class="btn">Modifier mon mot de passe</a>
            <a href="{{ path('account_password')}}" class="btn">Wish List</a>
        </div>
        <div class="child-right">
            {% if app.user.addresses|length == 0 %}
                <p>Vous n'avez pas encore d'adresse client veuillez en créer une.</p>
                <a href="{{ path('account_address_add') }}">Créer une adresse</a>
            {% endif %}
            {% for address in app.user.addresses %}
            <div class="address-card">
                <h2>{{address.name}}</h2>
                <p>{{address.address}} {{address.postal}} {{address.city}} {{address.country}}</p>
                <div class="delete-card">
                    <a href="{{path('account_address_edit', {'id' : address.id } )}}" class="btn">Modifier</a><a href="{{path('account_address_delete', {'id' : address.id})}}" class="btn">Supprimer</a>
                </div>
            </div>
            {% endfor %}
            <a href="{{ path('account_address_add') }}" class="add-address">Ajouter une autre adresse</a>
        </div>
    </div>
</div>

{% endblock %}