{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block title %}Mon compte - DiY District{% endblock %}

{% block content %}
<div class="account">
    <div class="account-title">
        <h2>Bienvenue dans votre compte</h2>
        <div class="account-faq">
            <h3>Vous avez des questions au sujet de celui-ci? N'hésitez pas à consulter</h3>
            <a href="{{ path('home')}}">notre faq</a>
        </div>
    </div>
    <div class="container-links">
        <h2>Menu</h2>
        {% if is_granted('ROLE_ADMIN')%}
            <a href="{{ path('admin')}}" class="account-link"><i class="fa-solid fa-toolbox"></i> Administration du site</a>
        {% endif %}
        <a href="{{ path('account_order')}}" class="account-link"><i class="fa-solid fa-box"></i> Commandes</a>
        <a href="{{ path('account_address')}}" class="account-link"><i class="fa-solid fa-address-card"></i> Adresses</a>
        <a href="{{ path('account_password')}}" class="account-link"><i class="fa-solid fa-lock"></i> Modifier mon mot de passe</a>
    </div>
</div>

{% endblock %}
