{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block title %}Ma commande - DiY District{% endblock %}

{% block content %}
<div class="account">
   <div class="account-title">
        <h2>Détails votre commande</h2>
        <div class="account-faq">
            <h3>Besoin de plus amples informations au sujet de cette commande ?</h3>
            <a href="{{ path('home')}}">Contactez-nous</a>
        </div>
    </div>
    <div class="container-links">
        <a href="{{ path('account_order')}}" class="account-link">Vos commandes</a>
    </div>
        <div class="child-right">
            <div class="order-detail-card">
                <div class="order-number">
                    <h3 >Commande No.</h3>
                    <p>{{order.reference}}</p>
                </div>
                <div class="shipping-method">
                    <p class="shipping-method-title">Mode de livraison selectionné</p>
                    <p>{{ order.deliveryName}}<p>
                </div>
                <div class="order-card-details">
                    <div class="order-date">
                        <p class="order-title">faite le</p>
                        <p>{{order.createdAt|date('d/m/Y')}}</p>
                    </div>
                    {% for product in order.orderDetails %}
                    <div>
                        <div>{{product.product}}</div>
                        <div>{{product.quantity}}</div>
                        <div>{{ (product.price / 100)|number_format(2, ',','.')}} €</div>
                        <div>{{ (product.total / 100)|number_format(2, ',','.')}} €</div>
                    </div>
                {% endfor %}
                </div>
                <div class="order-details-total">
                    <p><span class="text-bold">Sous-total :</span> {{ (order.getTotal / 100)|number_format(2, ',','.')}} €</p>
                    <p><span class="text-bold">Frais de port :</span> {{ (order.deliveryPrice / 100)|number_format(2, ',','.')}} €</p>
                    <p><span class="text-bold">Total : </span>{{ ((order.deliveryPrice + order.getTotal) / 100)|number_format(2, ',','.')}} €</p>
                </div>
            </div>
        </div>
        </div>
{% endblock %}