{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block title %}Modifier password - DiY District{% endblock %}

{% block content %}
<div class="account">
    <div class="account-header">
        <a href="{{ path('home')}}" class="btn">Accueil</a>
    </div>
    <h1>Mon compte</h1>
    <div class="parent">
        <div class="div1">
        <a href="{{ path('account_password')}}" class="btn">Commandes</a>
        </div>
        <div class="div2">
        <a href="{{ path('account_password')}}" class="btn">Adresses</a>
        </div>
        <div class="div3">
        <a href="{{ path('account_password')}}" class="btn">Modifier mon mot de passe</a>
        </div>
        <div class="div4"> 
        <a href="{{ path('account_password')}}" class="btn">Wish List</a>
        </div>
        <div class="div5">
        {{ form_start(form) }}
        <div class="reset-password">
            <div class="col">
                {{ form_row(form.old_password) }}
            </div>
            <div class="col">
                {{ form_row(form.new_password) }}
            </div>
            {% if notification %}
                <div class="alert">{{ notification }}</div>
            {% endif %}
            <div class="auth-col-btn">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}

