{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block title %}Modifier password - DiY District{% endblock %}

{% block content %}
<div class="account">
    <div class="account-title">
        <h2>Bienvenue dans votre espace gestion de mot de passe</h2>
        <div class="account-faq">
            <h3>Un problème pour réinitialiser votre mot de passe ?</h3>
            <a href="{{ path('home')}}">Contactez-nous</a>
        </div>
    </div>
    <div class="container-links">
        <a href="{{ path('account')}}" class="account-link"><i class="fa-solid fa-user"></i> Votre espace compte</a>
    </div>
    {{ form_start(form, {'attr': {'class': 'reset-password'}} ) }}
    <h2>Reintialiser votre mot de passe</h2>
        {{ form_widget(form.old_password) }}
        {{ form_widget(form.new_password) }}
        {% if notification_valid %}
            <div class="notification_valid">{{ notification_valid }}</div>
        {% endif %}
        {% if notification_invalid %}
            <div class="notification_invalid">{{ notification_invalid }}</div>
        {% endif %}
        {{ form_widget(form.submit) }}
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}

