{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block title %}{{product.name}} - DiY District{% endblock %}

{% block content %}
<div class="product-wrapper">
    <div class="product-container">
        <div class="product-image">
            <img src="/uploads/products/{{product.illustration}}" alt="{{product.name}}"/>
        </div>
        <div class="product-description">
            <h2>{{product.name}}</h2>
            <p>{{product.subtitle}}<p>
            <p class="price">{{(product.price /100) | number_format(2, ',','.') }} €</p>
            <p>{{product.description}}</p>
            <a href="/">Ajouter au panier</a>
        </div>
    </div>
</div>
{% endblock %}
