<a href="{{path('product', { 'slug' : product.slug})}}">
    <div class="product-image">
        <img src="/uploads/products/{{ product.illustration}}" alt="{{ product.name }}"/>
    </div>
    <h2 class="text-2xl p-2">{{ product.name }}</h2>
    <p><span class="text-bold">{{(product.price /100) | number_format(2, ',','.') }} €</span> /50cm</p>
    <a class="btn-show-product" href="{{path('product', { 'slug' : product.slug})}}">Voir le produit</a>
</a>