{% extends 'base.html.twig' %}

{% block title %}Inscription - DiY District{% endblock %}

{% block content %}
<section class="auth-main">
<div class="auth-form">
    <h1>Créer un compte</h1>
    {{ form_start(form) }}
    {# <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div> #}
    <div class="auth-row">
        <div class="col">
            {{ form_row(form.firstname) }}
        </div>
        <div class="col">
            {{ form_row(form.lastname) }}
        </div>
        <div class="col">
            {{ form_row(form.email) }}
        </div>
        <div class="col">
            {{ form_row(form.password) }}
        </div>
        <div class="auth-col-btn">
            {{ form_row(form.submit) }}
        </div>
    </div>
{{ form_end(form) }}
    <div class="signin-row">
        <p>Déjà un compte?<p>
        <a href="/login">Connectez-vous</a>
    </div>
</div>

</section>
{% endblock %}
