<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}DiY District - Tissus Japonais{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    />
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    {% if block('header') is defined %}
    <header>
      <!-- Début Top bar -->
      {% if block('topbar') is defined %}
      <div class="topbar">
        <div class="topbar-contact">
          <a href="/contact">Contact</a>
        </div>
        {% if app.user %}
        <div class="topbar-login">
          {% if app.request.attributes.get('_route') == 'account' %}
            <a href="{{path('home')}}" class="link">Accueil</a>
          {% elseif app.request.attributes.get('_route') == 'account_address' %}
            <a href="{{path('home')}}" class="link">Accueil</a>
          {% elseif app.request.attributes.get('_route') == 'account_password' %}
            <a href="{{path('home')}}" class="link">Accueil</a>
          {% endif %}
          <a href="{{path('account')}}" class="link">Mon compte <i class="fa-solid fa-user"></i></a>
          <a href="{{path('app_logout')}}"class="link">Déconnexion <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
        {% else %}
        <div class="topbar-register">
          <a href="{{path('app_login')}}"class="link">Connexion <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
          <a href="{{path('register')}}"class="link">Inscription</a>
        </div>
        {% endif %}
      </div >
      {% endif %}
      <!-- Fin Top bar -->

      <!-- Début Navbar -->
      {% if block('navbar') is defined %}
      <div class="navbar">
        <a href="{{ path('home') }}" class"brand">diy district</a>
        <div class="onglets">
          {# <a href="{{path('home')}}">nouveautés</a> #}
          <a href="{{ path('products') }}">tissus japonais</a>
          <a href="{{ path('products') }}">tissus brocart</a>
          {# <a href="{{ path('products') }}">mercerie</a> #}
          <a href="{{ path('home') }}">à propos</a>
          <a href="{{ path('home') }}">blog</a>
          {# <a href="{{ path('home') }}"><i class="far fa-heart"></i></a> #}
          <a href="{{ path('cart') }}"><i class="fas fa-shopping-cart"></i></a>
        </div>
      </div>
      {% endif %}
      <!-- Fin NavBar -->

      <!-- Début slider -->
      {% if block('slider') is defined %}
      <div class="slider">
        <h1>Vente de tissus Japonais en ligne</h1>
        <button><a href="{{ path('products') }}">nos produits <i class="fas fa-paper-plane"></i></a></button>
      </div>
      {% endif %}
    </header>
    {% endif %}
      
      <!-- Fin slider -->

      <!-- Fin header -->

      <!-- Début Section principale -->

      <main>
      {% block content %}
      {% endblock %}
      </main>

      <!-- Fin section principale -->

      <!-- Début Footer -->

      
      {% if block('footer') is defined %}
      <footer>
        <p>copyright 2022 &copy; diydistrict - site réalise par diydistrict.com</p>
        <div class='informations'>
          <a href="/">CGV-CGU</a><a href="/">Mentions légales</a><a href="/">Politique de confidentialité</a>
        </div>
      </footer>
      {% endif %}
      

      <!-- Fin Footer-->
  <script type="text/javascript" src="{{ asset('assets/js/scripts.js') }}"/>
  </body>
</html>
