<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}DiY District - Tissus Japonais{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    />
   
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/splide.min.css') }}" rel="stylesheet" />
    {# <link href="{{ asset('assets/css/splide-core.min.css') }}" rel="stylesheet" /> #}
    {# <link href="{{ asset('assets/css/themes/splide-default.min.css') }}" rel="stylesheet" /> #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    {% block js %}{% endblock %}
  </head>

  <body>
    {% if block('header') is defined %}
    <header>
      <!-- Début Top bar -->
      {% if block('topbar') is defined %}
      <div class="topbar">
        <div class="topbar-size">
          <div class="topbar-contact">
            <a href="/">Contact</a>
          </div>
          {% if app.user %}
          <div class="topbar-login">
          {# // un if permettant de faire apparaitre l'onglet sur des vue précise. #}
            {% if 'compte' in app.request.uri %}
              <a href="{{path('home')}}" class="link">Accueil</a>
            {% endif %}
            <a href="{{path('account')}}" class="link">Mon compte <i class="fa-solid fa-user"></i></a>
            <a href="{{path('app_logout')}}"class="link">Déconnexion <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            <a href="{{path('cart')}}"><i class="fas fa-shopping-cart"></i></a>
          </div>
          {% else %}
          <div class="topbar-register">
            <a href="{{path('app_login')}}"class="link">Connexion <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
            <a href="{{path('register')}}"class="link">Inscription</a>
            <a href="{{path('cart')}}"><i class="fas fa-shopping-cart"></i></a>
          </div>
          {% endif %}
        </div>
      </div >
      {% endif %}
      <!-- Fin Top bar -->

      <!-- Début Navbar -->
      {% if block('navbar') is defined %}
      <div class="navbar">
        <div class="navbar-size">
          <a href="{{ path('home') }}" class"brand">diy district</a>
          <div class="onglets">
            {# <a href="{{path('home')}}">nouveautés</a> #}
            <a href="{{ path('products') }}">tissus japonais</a>
            <a href="{{ path('products') }}">tissus brocart</a>
            <a href="{{ path('home') }}">à propos</a>
            <a href="{{ path('home') }}">blog</a>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- Fin NavBar -->

      <!-- Début slider -->
      {% if block('slider') is defined %}
      <section id="image-carousel" class="splide" aria-label="Beautiful Images">
        <div class="splide__track">
          <ul class="splide__list">
          {% for slider in sliders %}
            <li class="splide__slide">
              <div class="splide__container">
                <img src="/uploads/products/{{ slider.illustration}}" alt="">
                <div class="container_slider">
                  <h1>{{ slider.title}}</h1>
                  <p>{{ slider.content}}</p>
                  <a href="{{ slider.btnUrl }}">{{ slider.btnTitle }}</a>
                </div>
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>
        <div class="splide__arrows"></div>
      </section>
      {% endif %}
    </header>
    {% endif %}
      
      <!-- Fin slider -->

      <!-- Fin header -->

      <!-- Début Section principale -->

      <main>
      {% block content %}
      {% endblock %}
      </main>

      <!-- Fin section principale -->

      <!-- Début Footer -->

      
      {% if block('footer') is defined %}
      <footer>
        <p>copyright 2022 &copy; diydistrict - site réalise par diydistrict.com</p>
        <div class='informations'>
          <a href="/">CGV-CGU</a><a href="/">Mentions légales</a><a href="/">Politique de confidentialité</a>
        </div>
      </footer>
      {% endif %}
      

      <!-- Fin Footer-->
  <script type="text/javascript" src="{{ asset('assets/js/scripts.js') }}"/></script>
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
  <script>
    var splide = new Splide( '.splide', {
      type    : 'loop',
      perPage : 1,
      autoplay: true,
      arrows: false,
      pauseOnHover: false,
      interval: 4000,
      } );
    splide.mount();
  </script>
  </body>
  {% block script %}{% endblock %}
</html>