{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block title %}Confirmation de commande - DiY District{% endblock %}

{% block content %}
<div class="orderSuccessPage-container">
<h2>Confirmation de votre achat</h2>
    <div class="order-details">
        <div class="user-details">
            <h3>Détails de votre commande</h3>
            <p>Merci pour votre commande <span class='bold-text'>{{ order.user.lastname }} {{ order.user.firstname }}</span></p>
            <p>Nous vous confirmons la prise en charge de votre commande n°<span class='bold-text'>{{ order.reference }}</span></p>
            <p>Un email de confirmation vous a été envoyé à l'adresse email suivante : <span class='bold-text'>{{ order.user.email }}</span>.</p>
        </div>
        <div class='address-details'>
            <h3>Détails de livraison:</h3>
            <p>Votre commande sera livrée par le transporteur <span class='bold-text'>{{ order.deliveryName }}</span> à l'adresse suivante :</p>
            <p>{{ order.deliveryAddress|raw }}</p>
            <p>Vous pouvez voir le suivi de cette commande dans votre espace <a href="{{ path('account_order') }}"><span class='bold-text'>compte</span></a>.</p>
        </div>
    </div>
    <div class="thank-order">
        <h2>ありがとうございます。</h2>
    </div>
</div>
{% endblock %}
