{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block js %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}Récapitulatif de commande - DiY District{% endblock %}

{% block content %}
<div class="orderPage-container">
    <h2>Récapitualtif de votre commande</h2>
    <div class="order-container">
        {% set formhtml %}
        <div class="container-left size-of-container">
            <h3>Adresse de livraison</h3>
            <p>{{deliveryAddress|raw}}</p>
            <h3>Transporteur</h3>
            <p>{{delivery.name}}</p>
            <p>{{delivery.description}}</p>
            <p>{{(delivery.price / 100)|number_format(2, '.', ',')}} €</p>
        </div>
        {% endset %}
        {{ formhtml|replace({'[br]': '<br/>'})|raw }}
        <div class="container-right size-of-container">
            <h3>Récaptitulatif de commande</h3>
            {% set total = null %}
            {% for product in cart %}
            <div class="products-cart">
                <div>
                    <img src="/uploads/products/{{ product.product.illustration}}" alt="{{ product.product.name}}" width="75px" height="50px"/>
                </div>
                <div class="product-name">
                    <p>{{ product.product.name}}</p>
                    <p>x {{ product.quantity }}</p>
                </div>
                <div class="order-price">
                    <p>{{((product.product.price * product.quantity) / 100)|number_format(2, ',','.') }} € </p>
                </div>
            </div>
            {% set total = total + (product.product.price * product.quantity)%}
            {% endfor %}
            <div class="order-price-summary">
                <p><span class='bold-text'>Sous-total :</span> {{ (total / 100)|number_format(2, '.', ',')}} €</p>
                <p><span class='bold-text'>Livraison :</span> {{ (delivery.price / 100) |number_format(2, '.', ',')}} €</p>
                <p><span class='bold-text'>Total :</span> {{ (total /100) + (delivery.price / 100)|number_format(2, '.', ',')}} €</p>
            </div>
            <div class="btn-validate">
                <a id="checkout-button">Payer {{ (total /100) + (delivery.price / 100)|number_format(2, '.', ',')}} €</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var stripe = Stripe("pk_test_51KLTsfFXZ3JDEwqubEXauc4zIZlVVo4RFlqEikdcWcNF2aj2ukwdvIKXjYAUitzk5ukPh3d76UCUJ7FcYdzXAcrw00IKsqcZao");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function() {
            fetch("/commande/create-session/{{ reference }}", {
                method: "POST",
            })
                .then(function(response) {
                    return response.json();
                    
                })
                .then(function(session) {
                    if (session.error == 'order'){
                        window.location.replace('{{ path('order') }}')
                    } else {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                    }
                })
                .then(function(result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>
{% endblock %}