{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block title %}Validation de commande - DiY District{% endblock %}

{% block content %}
<div class="orderPage-container">
    <div class="account-title">
        <h2>Passer votre commande</h2>
        <div class="account-faq">
            <h3>Vous désirez plus d'informations au sujet de nos transporteurs et de l'étape commande ?</h3>
            <a href="{{ path('home')}}">Consultez notre FAQ</a>
        </div>
    </div>
    <div class="order-container">
        <div class="container-left">
            <h3>Choisissez votre adresse de livraison</h3>
            {% set formhtml %}
            {{ form_start(form, {action:path('order_summary')}) }}
            <div class="address-cards-container">
                {% for Addresses in form.addresses %}
                <div class="addresses-row">
                    {{ form_widget(Addresses)}}
                    {{ form_label(Addresses)}}
                </div>
                {% endfor %}
            </div>
            <a href="{{path('account_address_add')}}">Ajouter une addresse de livraison</a>
            <h3>Choisissez votre transporteur</h3>
            {# {% set formhtml %} #}
                {% for Delivery in form.delivery %}
                <div class="addresses-row">
                    {{ form_widget(Delivery)}}
                    {{ form_label(Delivery)}}
                </div>
                {% endfor %}
            {% endset %}
            {{ formhtml|replace({'[br]': '<br/>'})|raw }}
            {# {% endset %} #}
        </div>
        <div class="container-right">
            <h3>Récaptitulatif de commande</h3>
            {% set total = null %}
            {% for product in cart %}
            <div class="products-cart">
                <div>
                    <img src="/uploads/products/{{ product.product.illustration}}" alt="{{ product.product.name}}" width="75px" height="50px"/>
                </div>
                <div class="product-name">
                    <p>{{ product.product.name}}</p>
                    <p>x {{ product.quantity }}</p>
                </div>
            </div>
            {% set total = total + (product.product.price * product.quantity) %}
            {% endfor %}
            <div class="btn-validate">
                {{form_row(form.submit)}}
            </div>
            {{form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
